@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
  font-size: 10px;
  font-family: "Outfit", sans-serif;
}

body {
  color: black;
  padding: 2%;
  background: #e3e3e3;
  background-image: url("/static.png");
  background-blend-mode: soft-light;
}

section {
  text-align: center;
}

h1{
  font-size: 3.2rem;
}

h2 {
  margin: 1%;
  font-size: 1.8rem;
}

p {
  margin: 0;
  font-size: 1.4rem;
  font-weight: 600;
}

.card {
  display: flex;
  flex-flow: column;
  width: 50vw;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 1100px;
}

.card_inner{
  border-radius: 30px;
  box-shadow: -10px 13px 19px 2px rgb(200 198 198 / 60%), 6px -2px 19px 2px rgb(235 231 231 / 60%);
  backdrop-filter: blur(6px);
  background-color: #d8d8d885;
}

.day {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1%;
}

.weather {
  display: flex;
  width: 30vw;
  border-bottom: 1px solid #e3e3e3;
}

.day:last-of-type .weather{
  border-bottom: none;
}

.weather_details {
  display: flex;
  width: 45vw;
  flex-flow: wrap;
  justify-content: center;
}

.weather_details_hour {
  display: flex;
  flex-flow: column;
  padding: 1%;
  align-items: center;
}

.weather_icon {
  width: 80%;
}
